.icon {
    fill: rgba(0, 0, 0, 0.3);
}

.warning {
    background-color: $warning;
    .icon {
        background-image: url('../icons/warning.svg');
    }
}

.info {
    background-color: $info;
    .icon {
        background-image: url('../icons/info.svg');
    }
}