<footer>
    <div class="container">
        <div class="content banner">
            <div class="flex bold w-80">
                <div class="flex center-area">
                    <div class="icon location center-y"></div>
                    <div class="center-y">{{.Site.Params.Location}}</div>
                </div>
                <div class="flex center-area">
                    <div class="icon email center-y"></div>
                    <div class="center-y"><a href="mailto:{{.Site.Params.Email}}">{{.Site.Params.Email}}</a></div>
                </div>
                <div class="flex center-area">
                    <div class="icon phone center-y"></div>
                    <div class="center-y">{{.Site.Params.Phone}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div>{{.Site.Copyright | safeHTML}}</div>
    </div>
</footer>
</body>

</html>