<footer>
    <div class="container">
        <div class="desktop-half content">
            <div class="flex">
                <div>
                    <div class="bold">Mahlknecht J. Gmbh</div>
                    <div>
                        Via Principale, 39<br> Hauptstrasse, 39<br> I-39053 Collepietra / Steinegg (BZ)
                    </div>
                    <div>
                        T +39 0471 376562<br>
                        <a href="mailto:mail@mahlknecht.com">mail@mahlknecht.com</a><br>
                        <a href="https://www.mahlknecht.com">www.mahlkencht.com</a>
                    </div>
                    <div>
                        P.Iva IT 00669110215<br>Empfängerkodex für elektronische RG: XXXXXX
                    </div>
                </div>
                <div class="desktop-half map">
                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=11.326292753219604%2C46.47684824566896%2C11.336452960968018%2C46.480424107704124&amp;layer=mapnik&amp;marker=46.47863620606133%2C11.331372857093811"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=46.47864&amp;mlon=11.33137#map=18/46.47864/11.33137">Open Map</a></small>
                </div>
            </div>
</footer>
</body>

</html>