{{ partial "header.html" . }}
<script src="/js/carousel.js" type="text/javascript"></script>

<div id="carousel" class="carousel">
    {{range $i, $s := .Site.Data.home.carousel}}
    <div id="slide-{{$i}}" class="slide image {{if eq $i 0}}active{{end}}" style="background-image: url('{{$s.image | absURL}}')">
        {{if $s.title}}<div class="banner" style="color: {{$s.fontColor}}">{{$s.title}}</div>{{end}}
    </div>
    {{end}}
    <div class="slide-selector">
        {{range .Site.Data.home.carousel}}
        <div class="point-selector"></div>
        {{end}}
    </div>
</div>

{{range $i, $s := .Site.Data.home.carousel}}
<div id="slide-{{$i}}" class="slide image" style="background-image: url('{{$s.image}}')">
    {{if $s.title}}<div class="banner">{{$s.title}}</div>{{end}}
</div>
{{end}}

{{ partial "footer.html" . }}