@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
html,
body {
  background: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

a {
  color: $secondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0px;
}

h4 {
  font-weight: 200;
  font-size: 1.3rem;
  margin: 0px;
}

.font-small {
  font-size: 0.75rem;
}

// Layout
.container {
  max-width: 1920px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2rem;
  width: 80%;
  @media (max-width: 1499px) {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
}

.desktop-half {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  @media (max-width: 979px) {
    width: 100%;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &.no-space {
    justify-content: left;
  }
}

.center-area {
  display: flex;
}

.center-x {
  margin-left: auto;
  margin-right: auto;
}

.center-y {
  margin-top: auto;
  margin-bottom: auto;
}

.w-80 {
  width: 80%;
}

// Style
.image {
  background-color: #dbdbdb;
}

button {
  display: inline-block;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: normal;
  background: transparent;
  border: thin solid currentColor;
  border-radius: 8px;
  cursor: pointer;
}

// Components
.menu-horizontal {
  font-size: 0;
  a {
    text-transform: uppercase;
    color: $light-border;
    transition: color 0.1s ease;
    padding: 10px;
    font-size: 1rem;
    margin: 0;
    &.current {
      color: black;
      font-weight: 600;
      &:hover {
        pointer-events: none;
      }
    }
    &:hover {
      color: black;
    }
    & + a {
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 22px;
        background-color: $light-border;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.bg-light {
  background: $light-bg;
}

// ICONS
.icon {
  &.warning {
    background: url("../icons/warning.svg") no-repeat center;
  }
  &.info {
    background: url("../icons/info.svg") no-repeat center;
  }
  &.download {
    background: url("../icons/download.svg") no-repeat center;
  }
  &.location {
    background: url("../icons/location.svg") no-repeat center;
  }
  &.phone {
    background: url("../icons/phone.svg") no-repeat center;
  }
  &.email {
    background: url("../icons/email.svg") no-repeat center;
  }
}
