.container .card {
  &.card-info {
    height: 80px;
    .flex {
      justify-content: left;
    }
    font-size: 1.2rem;
    .icon {
      height: 35px;
      width: 35px;
      margin: 0 45px;
      @media (max-width: 600px) {
        display: none;
      }
    }
    .content {
      width: 75%;
      @media (max-width: 600px) {
        width: 100%;
        text-align: center;
        .description {
          width: 100%;
        }
      }
    }
    background-color: $light-bg;
    &.warning {
      background-image: linear-gradient($warning, rgba($warning, 0.8));
    }
    &.info {
      background-image: linear-gradient($info, rgba($info, 0.8));
    }

    .content {
      max-width: none;
      p,
      span,
      a {
        display: inline;
      }
      a {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
