
    <div class="card title center-area bg-light">
        <div class="flex center-y">
            <div class="content">
                {{ if .Title }}<h2>{{ .Title }}</h2>{{ end }}
                <div class="description">{{ .Params.Description }}</div>
                {{ if .Params.ButtonLabel}}<button onclick="window.open('{{.Params.ButtonLink}}', '_self')"><span>{{ .Params.ButtonLabel }}</span></button>{{ end }}
            </div>
            {{ block "images" . }}
            <div class="image" style="background-image: url('/{{ .Params.Image }}')"></div>
            {{ end }} 
        </div>
    </div>