footer {
    position: absolute;
    bottom: 0;
    height: 165px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $dark-bg;
    color: white;
    a {
        color: white;
    }
    .container {
        padding: 0;
    }
    .content {
        position: relative;
        font-size: 18px;
        .w-80 {
            margin: auto;
            padding: 40px 0;
        }
        .icon {
            height: 2rem;
            width: 2rem;
            margin-right: 25px;
        }
        &.banner {
            border-bottom: .5px solid $light-border;
        }
    }
    .copyright {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    // Responsive
    @media (max-width: 1199px) {
        .content {
            padding: 25px;
            padding-left: 0;
        }
    }
    @media (max-width: 1023px) {
        height: 560px;
        .desktop-half {
            height: 300px;
        }
        .map {
            height: 240px;
            width: 100%;
            padding-bottom: 25px;
        }
    }
    @media (max-width: 500px) {
        height: 800px;
        .desktop-half {
            height: 520px;
        }
        .map {
            height: 240px;
        }
    }
}