footer {
    position: absolute;
    bottom: 0;
    height: 165px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $dark-bg;
    color: white;
    a {
        color: white;
    }
    .container {
        padding: 0;
    }
    .content {
        position: relative;
        font-size: 18px;
        .w-80 {
            margin: auto;
            padding: 40px 0;
            .flex {
                margin-top: 7px;
                margin-bottom: 7px;
                padding: 0 5px;
            }
        }
        .icon {
            height: 2rem;
            width: 2rem;
            margin-right: 15px;
        }
        &.banner {
            border-bottom: .5px solid $light-border;
        }
    }
    .copyright {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        text-decoration: underline;
    }
    // Responsive
    @media (max-width: 1199px) {
        .content {
            font-size: 1rem;
            padding: 10px;
            .w-80 {
                padding: 25px 0;
            }
        }
    }
    @media (max-width: 979px) {
        height: 210px;
    }
    @media (max-width: 600px) {
        height: 255px;
    }
    @media (max-width: 405px) {
        .icon {
            display: none;
        }
    }
}