{{ partial "header.html" . }}
<div class="container">
    {{ partial "title-card.html" . }}
    <!-- Check odd or even -->
    {{ range $i, $p := .Pages.ByTitle }}
    {{if modBool $i 2}}
    <div class="card center-area odd">
        <div class="flex center-y"> 
            {{ block "images" . }}
                <div class="image" style="background-image: url('/{{ .Params.Image }}')"></div>
            {{ end }} {{ block "content" . }}
            <div class="content">
                {{ if .Title }}<h2>{{ .Title }}</h2>{{ end }}
                <div class="description">{{ .Content }}</div>
                {{ if .Params.ButtonLabel}}<button><a href="{{ .Params.Link }}">{{ .Params.ButtonLabel }}</a></button>{{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ else }}
    <div class="card center-area even">
        <div class="flex center-y">
            {{ template "content" .}}{{ template "images" . }}
        </div>
    </div>
    {{ end }} {{ end }}
</div>
{{ partialCached "footer.html" . }}