{{ partial "header.html" . }}
<div class="container">
    {{ range $i := .Pages }}
    {{if ne $i 0}}
    <div class="card card-info center-area {{.Params.Type}}">
        <div class="flex center-y">
            <div class="icon {{.Params.Type}}"></div>
            <div class="content flex">
                <div class="description">
                    <b>{{.Title}}</b>&nbsp;<span>{{ .Content }}</span>&nbsp;{{ if .Params.File}}<a href="/files/{{ .Params.File }}" target="_blank">{{ .Params.FileLabel}}</a>{{ end }}</span>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ partial "title-card.html" . }}
</div>
{{ partialCached "footer.html" . }}