{{ partial "header.html" . }}
<div class="container">
    {{ range $i, $p := where .Pages.Reverse "Section" "" }}
    <!-- Check odd or even -->
    {{if not (modBool $i 2)}}
    <div class="card center-area odd">
        <div class="flex center-y">
            {{ block "images" . }}
            <div class="images">
                <div class="image image-long" style="background-image: url('{{ .Params.Image1 }}')"></div>
                <div class="image" style="background-image: url('{{ .Params.Image2 }}')"></div>
                <div class="image" style="background-image: url('{{ .Params.Image3 }}'); margin: 0;"></div>
            </div>
            {{ end }} {{ block "content" . }}
            <div class="content">
                <h2>{{ .Title }}</h2>
                <div class="description">{{ .Content }}</div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ else }}
    <div class="card center-area even">
        <div class="flex center-y">
            {{ template "content" .}}{{ template "images" . }}
        </div>
    </div>
    {{ end }} {{ end }}
</div>
{{ partialCached "footer.html" . }}