{{ partial "header.html" . }}
<div class="container">
    {{ partial "title-card.html" . }}
    <!-- Check odd or even -->
    {{ range $i, $p := .Pages }}
        {{if modBool $i 2}}
        <div class="card center-area odd showcase">
            <div class="flex center-y">
                {{ template "images" .}}
                {{ block "content" .}}
                <div class="content">
                    {{ if .Title }}<h4>{{ .Title }}</h4>{{ end }}
                    <div class="description">{{ .Content }}</div>
                </div>
                {{ end }}
            </div>
        </div>
        {{else}}
        <div class="card center-area even showcase">
            <div class="flex center-y">
                {{template "images" .}}{{template "content" .}}
            </div>
        </div>
        {{end}}
    {{ end }}
</div>
{{ partialCached "footer.html" . }}