$primary:  	#a9041a;
$secondary: #111118;
$dark-border: #7e7e7e;
$light-border: #cccccc;
$light-bg: #f3f1f6;
$dark-bg: #241d2e;
$warning: #d9534f;
$info: #5bc0de;
@import "partials/base";
@import "hamburgers/hamburgers";
@import "partials/header";
@import "partials/footer";
@import "pages/home.scss";
@import "pages/single.scss";
@import "pages/list";
@import "partials/card-info";